@charset "UTF-8";
#contenedor {
	height: 768px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#gif {
	float: none;
	height: 559px;
	width: 834px;
	margin-top: 50px;
	margin-left: 96px;
}
#menu {
	float: none;
	height: 558px;
	width: 839px;
	margin-top: 70px;
	margin-left: 96px;
}
#enter {
	height: 28px;
	width: 53px;
	margin-top: 25px;
	margin-left: 391px;
}
#lunaluan {
	height: 279px;
	width: 417px;
	float: left;
}
#fashion {
	height: 279px;
	width: 417px;
	float: left;
	clear: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#textile {
	height: 279px;
	width: 417px;
	float: left;
	margin-left: 0px;
}
#print {
	height: 279px;
	width: 417px;
	float: right;
	margin-right: 5px;
}
#boton1home {
	height: 37px;
	width: 35px;
	float: left;
}
#contenedorbotonesfashion {
	height: 37px;
	width: 79px;
	margin-left: 856px;
	clear: left;
	margin-top: 5px;
	float: left;
}
#contenedorbotonesfashion2 {
	height: 37px;
	width: 79px;
	margin-left: 908px;
	clear: left;
	margin-top: 5px;
	float: left;
}
#nextfashion {
	height: 37px;
	width: 35px;
	float: right;
}
#about {
	float: right;
	height: 29px;
	width: 164px;
	margin-top: 45px;
	margin-right: 94px;
}
#aboutluna {
	float: right;
	height: 572px;
	width: 837px;
	margin-right: 94px;
}
#home1 {
	float: right;
	height: 28px;
	width: 40px;
	margin-right: 94px;
}
#contenedorcollection {
	height: 8829px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#contenedormegusta {
	height: 3800px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#contenedorescatologia {
	height: 5051px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#contenedormilagro {
	height: 5596px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#contenedorplastico {
	height: 3283px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#contenedorgodf {
	height: 3973px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#infocollection {
	height: 8724px;
	width: 1024px;
	margin-top: 105px;
}
#escatologia {
	height: 4946px;
	width: 1024px;
	margin-top: 105px;
}
#milagrillo {
	height: 5491px;
	width: 1024px;
	margin-top: 105px;
}
#plastico {
	height: 3178px;
	width: 1024px;
	margin-top: 105px;
}
#godinfo {
	height: 3868px;
	width: 1024px;
	margin-top: 105px;
}
#gifmegusta {
	height: 518px;
	width: 908px;
	margin-top: 80px;
	margin-left: 73px;
}
#gif2megusta {
	height: 377px;
	width: 533px;
	margin-top: 41px;
	margin-left: 73px;
}
#infomegusta {
	height: 90px;
	width: 267px;
	float: right;
	margin-right: 121px;
	margin-top: -225px;
}
#todomegustafotos {
	height: 2530px;
	width: 1024px;
	margin-top: 103px;
}
#mani {
	height: 452px;
	width: 278px;
	margin-top: 33px;
	margin-left: 315px;
}
